In [1]:
'''create a list of numbers and perform various operations adding elements,
substracting elements,removing elements and accessing elements by index.'''

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Display the original list
print("Original List:", numbers)

# Adding elements
numbers.append(6)
print("List after adding 6:", numbers)

# Subtracting elements
numbers.remove(3)
print("List after removing 3:", numbers)

# Removing elements
numbers.pop(1)
print("List after removing element at index 1:", numbers)

# Accessing elements by index
index = 2
element_at_index = numbers[index]
print(f"Element at index {index}: {element_at_index}")

Original List: [1, 2, 3, 4, 5]
List after adding 6: [1, 2, 3, 4, 5, 6]
List after removing 3: [1, 2, 4, 5, 6]
List after removing element at index 1: [1, 4, 5, 6]
Element at index 2: 5

In [7]:
'''Create a tuple to represent a immutable collection and try to access elements and
performing basic operation.'''

# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing elements
first_element = my_tuple[0]
second_element = my_tuple[1]

# Performing basic operations
tuple_length = len(my_tuple)
tuple_sum = sum(my_tuple)
tuple_product = 1
for element in my_tuple:
    tuple_product *= element


# Displaying results
print("Original Tuple:", my_tuple)
print("First Element:", first_element)
print("Second Element:", second_element)
print("Tuple Length:", tuple_length)
print("Tuple Sum:", tuple_sum)
print("Tuple Product:", tuple_product)

Original Tuple: (1, 2, 3, 4, 5)
First Element: 1
Second Element: 2
Tuple Length: 5
Tuple Sum: 15
Tuple Product: 120

In [3]:
'''Create a set to store the unique elemnts and perform set operations like union ,
intersection and difference.'''

# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Performing set operations
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set1_minus_2 = set1.difference(set2)
difference_set2_minus_1 = set2.difference(set1)
symmetric_difference_set = set1.symmetric_difference(set2)

# Displaying results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union Set:", union_set)
print("Intersection Set:", intersection_set)
print("Difference (Set 1 - Set 2):", difference_set1_minus_2)
print("Difference (Set 2 - Set 1):", difference_set2_minus_1)
print("Symmetric Difference:", symmetric_difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Union Set: {1, 2, 3, 4, 5, 6, 7}
Intersection Set: {3, 4, 5}
Difference (Set 1 - Set 2): {1, 2}
Difference (Set 2 - Set 1): {6, 7}
Symmetric Difference: {1, 2, 6, 7}

In [4]:
'''Create a directory to represent key value pairs and perform operation like adding ,
updating,and accessing elements. '''

# Creating a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Accessing elements
name_value = my_dict['name']
age_value = my_dict['age']
city_value = my_dict['city']

# Displaying initial dictionary
print("Initial Dictionary:", my_dict)
print("Name:", name_value)
print("Age:", age_value)
print("City:", city_value)

# Adding a new key-value pair
my_dict['occupation'] = 'Engineer'

# Updating an existing value
my_dict['age'] = 26

# Displaying updated dictionary
print("\nUpdated Dictionary:", my_dict)

# Accessing the updated values
updated_age_value = my_dict['age']
occupation_value = my_dict['occupation']

print("Updated Age:", updated_age_value)
print("Occupation:", occupation_value)

Initial Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
Name: John
Age: 25
City: New York

Updated Dictionary: {'name': 'John', 'age': 26, 'city': 'New York', 'occupation': 'Engineer'}
Updated Age: 26
Occupation: Engineer

In [1]:
'''Create a tuple with the names of the weekdays, allow the user to enter a day of the weekdays. check if the entered day is a weekkend and print a 
corresponding message.'''

# Create a tuple with the names of the weekdays
weekdays = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

# Allow the user to enter a day of the weekdays
user_input = input("Enter a day of the week: ")

# Check if the entered day is a weekend and print a corresponding message
if user_input.capitalize() in ('Saturday', 'Sunday'):
    print(f"{user_input} is a weekend day!")
else:
    print(f"{user_input} is a weekday.")

Enter a day of the week: monday
monday is a weekday.

In [2]:
'''develop a program to simulate a student enrollment system: create sets representing students enrolled in twoo courses, find and print 
students who are enrolled in both courses , add new students to one of the courses, remove a student from both courses if the decide to drop out.'''

# Initial sets representing students enrolled in two courses
course1_students = {'Alice', 'Bob', 'Charlie', 'David'}
course2_students = {'Charlie', 'Eve', 'Frank', 'Grace'}

# Find and print students who are enrolled in both courses
common_students = course1_students.intersection(course2_students)
print("Students enrolled in both courses:", common_students)

# Add new students to one of the courses
new_students = {'Ivy', 'Jack'}
course1_students.update(new_students)

# Print updated sets after adding new students
print("Updated students in Course 1:", course1_students)
print("Students in Course 2:", course2_students)

# Remove a student from both courses if they decide to drop out
dropout_student = 'Charlie'
course1_students.discard(dropout_student)
course2_students.discard(dropout_student)

# Print updated sets after removing a student
print(f"{dropout_student} has dropped out.")
print("Updated students in Course 1:", course1_students)
print("Updated students in Course 2:", course2_students)

Students enrolled in both courses: {'Charlie'}
Updated students in Course 1: {'Alice', 'David', 'Jack', 'Bob', 'Ivy', 'Charlie'}
Students in Course 2: {'Eve', 'Frank', 'Grace', 'Charlie'}
Charlie has dropped out.
Updated students in Course 1: {'Alice', 'David', 'Jack', 'Bob', 'Ivy'}
Updated students in Course 2: {'Eve', 'Frank', 'Grace'}

In [3]:
'''create a program that combine both lists and tuples.'''
list1 = ["apple", "banana", "orange"]
tuple1 = (1, 2, 3)

# Combine the list and tuple using extend() method
combined_list = list1.copy()
combined_list.extend(tuple1)

# Print the combined list
print(combined_list)

['apple', 'banana', 'orange', 1, 2, 3]

In [4]:
''' create a list of cities, convert the list into tuple, add a new city to the tuple and display 
the modified tuple.'''

# Create a list of cities
cities = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]

# Convert the list into a tuple
cities_tuple = tuple(cities)

# Add a new city to the tuple
new_city = "San Antonio"
cities_tuple = cities_tuple + (new_city,)

# Display the modified tuple
print(cities_tuple)

('New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'San Antonio')

In [5]:
'''develop a program to perform set operation and comparison, create two sets of characterm check if one set is subset of another. , find and print the syymmetric differences
 of the sets. check if set have any elelments in common.'''

# Create two sets of characters
set1 = {'a', 'b', 'c', 'd', 'e'}
set2 = {'x', 'y', 'z', 'a', 'c'}

# Check if one set is a subset of the other
if set1.issubset(set2):
    print("Set1 is a subset of set2")
elif set2.issubset(set1):
    print("Set2 is a subset of set1")
else:
    print("Neither set is a subset of the other")

# Find the symmetric difference of the sets
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric difference:", symmetric_difference)

# Check if the sets have any elements in common
if set1.intersection(set2):
    print("The sets have elements in common")
else:
    print("The sets have no elements in common")

Neither set is a subset of the other
Symmetric difference: {'b', 'e', 'y', 'd', 'z', 'x'}
The sets have elements in common

In [6]:
'''create a dictionary where the keys are books,title and values the corresponding authors, add a new book to the dictionary, update the author of the existing
book, display the book titles in alphabetical order.'''

# Create a dictionary of books and authors
books = {"The Lord of the Rings": "J.R.R. Tolkien", "Pride and Prejudice": "Jane Austen", "Hamlet": "William Shakespeare"}

# Add a new book to the dictionary
books["To Kill a Mockingbird"] = "Harper Lee"

# Update the author of an existing book
books["Hamlet"] = "William Shakespeare (adapted by Kenneth Branagh)"

# Display the book titles in alphabetical order
sorted_books = sorted(books.keys())
print("Book titles in alphabetical order:")
for book in sorted_books:
    print(book)

Book titles in alphabetical order:
Hamlet
Pride and Prejudice
The Lord of the Rings
To Kill a Mockingbird

In [7]:
'''create  a list  of integers  and write a program to remove  the duplicate elements from the list.'''

# Create a list of integers with duplicates
numbers = [1, 2, 3, 2, 4, 5, 1, 6]

# Use set to remove duplicates and convert back to list
unique_numbers = list(set(numbers))

# Print the list without duplicates
print("List without duplicates:", unique_numbers)

List without duplicates: [1, 2, 3, 4, 5, 6]

In [9]:
'''Sort the list in descending order.'''

# Create a list of integers with duplicates
numbers = [1, 2, 3, 2, 4, 5, 1, 6]

# Sort the list in descending order
numbers.sort(reverse=True)

# Print the sorted list
print("List in descending order:", numbers)

List in descending order: [6, 5, 4, 3, 2, 2, 1, 1]

In [11]:
#practice-->sorting in ascending order

# Create a list of integers with duplicates
numbers = [1, 2, 3, 2, 4, 5, 1, 6]

# Sort the list in descending order
numbers.sort(reverse=False)

# Print the sorted list
print("List in ascending order:", numbers)

List in ascending order: [1, 1, 2, 2, 3, 4, 5, 6]